@model AspNet.TODO.Models.Todo

<tr style="background-color: @(Model.ColorByImportance());">
    <td>
        @Html.DisplayFor(model => model.Id)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Deadline)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id  /* id=item.PrimaryKey */ })
    </td>
</tr>